.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellowgreen;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 20px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: aqua;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}